footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: #1BA8F0;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  footer {
    padding: 15px 10px; /* Reduce padding on smaller screens */
  }

  footer a {
    font-size: 14px;
  }

  footer p {
    font-size: 14px; /* Adjust font size for better readability */
    margin-bottom: 10px; /* Space between text and the links */
  }
}