footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: #1BA8F0;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}