header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.logo img {
  cursor: pointer;
}
  
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  background-color: #1BA8F0;
  padding: 8px 12px;
  border: 0 4px 4px 0;
  border-radius: 4px;
  color: white;
  margin-left: 5px;
}

.find-my-job a {
  text-decoration: none;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: bold;
}

.find-my-job a:hover {
  color: #1BA8F0;
} 

.create-profile a {
  text-decoration: none;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: bold;
}

.create-profile a:hover {
  color: #1BA8F0;
}    

.auth-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-links a {
  text-decoration: none;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: bold;
}

.auth-links a:hover {
  color: #1BA8F0;
}

.auth-links .signup-btn a {
  color: white;
}

.auth-links .signup-btn {
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  border-radius: 30px;
  background-color: #1BA8F0;
  font-weight: bold;
}

.auth-links .signup-btn:hover {
  background-color: #1481C2; /* Hover effect for signup button */
}

.auth-links .logout-btn {
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  border-radius: 30px;
  background-color: #FF0000;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

/* Hover effect for the logout button */
.auth-links .logout-btn:hover {
  background-color: #D00000; /* Darker red on hover */
  color: white; /* Keep the text color white */
}