.job-list {
  padding: 40px 20px;
  margin-bottom: 30px;
}

.job-list h2 {
  text-align: center;
  margin-bottom: 30px;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  color: #1BA8F0;
  font-size: 18px;
  font-weight: bold;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.more-jobs-btn {
  display: block;
  margin: 30px auto;
  padding: 10px 24px;
  font-size: 16px;
  background-color: #1BA8F0;
  color: white;
  border-radius: 5px;
}

.no-style-link {
  text-decoration: none;
  color: inherit; /* Inherit the color from the button */
  display: inline-block; /* Ensure it takes the button's width/height properly */
}